@grey_light:rgb(225,232,236);
@grey:rgb(143, 156, 163);

@content: rgb(76,76,82);
@blue:rgb(0,0,102);


body {
  font-family: Arial, Helvetica, sans-serif,serif;
  color: @content;
  *:not(i){
    font-family: Arial, Helvetica, sans-serif important;
  }
  background:white;
}
h1,h2,h3,h4{
  font-family: Arial, Helvetica, sans-serif;
}
a{
  color:@blue;
  &:hover{
    text-decoration: underline;
    color:@blue;
  }
}
.sy-box.topslider{
  background:@grey_light;
}
.sy-pager{
  margin:0!important;
  padding:0.35rem 0 !important;
  li{
    &.sy-active{
      a{
        background:@blue!important;
      }
    }
    a{
      background:transparent!important;
      border:1px solid @blue;
    }
  }
}
blockquote{
  text-align:center;
  font-style: italic;
  font-size:1.8rem;
}
.wgrey{
  background:@grey_light;
}
header{
  background:white;
  display:flex;
  justify-content: space-between;
  padding:2rem 0 0 0;
  flex-direction: column;
  align-items: center;
  .logo{
    height:80px;
    margin:-5px 0 2rem 0;
    @media (max-width: 720px){
      height:40px;
      margin:0 0 1rem 0;
    }
  }
  #headermenuwrapper{
    background:@blue;
    width:100vw;
  }
  #headermenu{
    display:flex;
    justify-content: center;
    align-items: center;
    background:@blue;
    width:100vw;
  }
  @media (max-width: 720px){
    padding:1rem;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    #headermenu{
      display:flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }
  }
  
}
#ebd{
  font-size:0.7rem;
  position:absolute;
  bottom:1rem;
  right:1rem;
}
.headermenuitem{
  flex:0 1 auto;
  color:white!important;
  a{
    color:white!important;
  }
  text-align:center;
  font-size:1.3rem;
  line-height:3rem;

  color:white!important;
  a{
    span{
      padding: 0 1rem;
      @media (max-width: 720px){
        border:none;
        padding: 0 1em;
      }
    }
  }
  word-wrap: none;
  white-space: nowrap;
  position:relative;
  z-index:100;
  .sub-menu{
    display:flex;
    flex-direction:column;
    background:@blue;
    @media (max-width: 720px){
      display:none;
    }
    justify-content: flex-start;
    align-items:flex-start;
    height:0;
    overflow:hidden;
    position:absolute;
    left:0;
    line-height:1.3em;
    z-index:99;
    top:2.5rem!important;
    padding:0;
    .sub-menu-item{
      text-align:left;
      > a{
        color:white!important;
        font-size:1.3rem;
      }
    }
  }
  &:hover{
    .sub-menu{
      height:auto;
      padding:1rem;
    }
  }
}
.imggal{
  .gimg{
    cursor:pointer;
    padding-top:100%;
    &.h{
      padding-top:calc(200% + 10rem);
    }
    &.w{
      padding-top:calc(66.6% - 1rem);
    }
  }
}
footer{
  display:block;
  position:relative;
  background:@grey_light;
  padding:4rem 0;
  .logo{
    width:100%;
  }
  .adr{
    ul{
      padding:0;
      margin:2rem 0 0 0;
      li{
        list-style: none;
        color:@content;
        display:flex;
        justify-content: flex-start;
        margin-bottom:1em;
        img{
          margin-right:1em;
          width:20px;
          height:20px;
        }
        a{
          color:@content;
        }
      }
    }
  }
  .column.links{
    padding:1rem 2rem!important;
    h4{
      padding:2rem 0 0 0;
    }
    ul{
      padding:0;
      margin:0;
      li{
        list-style: none;
        color:@content;
        a{
          color:@content;
        }
      }
    }
  }
}
.fl{
  position:absolute;
  z-index:9998;
  background:url('/images/fliesen_hintergrund.png');
  width:20vh;
  height:20vh;
  background-size:contain!important;
  transform: scaleX(-1) scaleY(-1);
}
#home{
  #proj{
    margin:2rem 0;
    padding:2rem 0;
    .img{
      padding-top:100%;
    }
    h2{
      color:@blue;
      margin-bottom:2rem;
      font-size:2rem;
      padding-left:4rem;
    }
  }
  #leist{
    margin:4rem 0;
    position:relative;
    .fl{
      top:0;
      left:0;
      width:20vh;
      height:20vh;
      transform: scaleX(-1);
    }
    .bereich{
      img{
        width:100%;
      }
      h3{
        text-align:center;
      }
    }
    .contentl{
      padding-left:5rem;
      h3{
        color:@grey;
        font-size:1.2rem;
        margin:0!important;
      }
      h2{
        color:@blue;
        margin:0 0 1rem 0!important;
        font-size:2rem;
      }
      strong{
        color:@blue;
      }
    }
  }
  #about{
    background:white;
    padding:2rem 4rem 3rem;
    border-bottom:1px solid @blue;
    position:relative;
    margin-top:-8rem;
    z-index:9999;
    .fl{
      right:0;
      top:0;
      width:15vh;
      height:15vh;
      transform:none;
      z-index:1;
    }
    h1,h2{
      margin:0;
    }
    h2{
      color:@grey;
      font-size:1.2rem;
    }
    h1{
      color:@blue;
      margin-bottom:1rem;
    }
    .jahre{
      display:flex;
      justify-content: space-between;
      margin:2rem 0 0 0;
      .num{
        padding: 1rem;
        display:flex;
        flex-direction: column;
        align-items: center;
        border:1px solid @blue;
        width:6rem;
        margin:0rem 2rem 0 0;
        color:@blue;
        .z{
          font-size:4rem;
          line-height: 4rem;
        }
        .l{
          font-size:1.5rem;
          font-weight:bold;
        }
      }
      .txt{
        font-size:1.3rem;
        font-weight:bold;
        color:@blue;
      }
    }
    @media (max-width: 720px){
      padding:2rem;
      .column{
        &:last-child{
          min-height:30vh!important;
          background-position-x: center;
        }
      }
    }
  }
  #slidercontainer{
    margin:0 0 1rem;
    position:relative;
    .fl{
      bottom:0;
      left:0;
      width:20vh;
      height:20vh;
      transform: scaleX(-1) scaleY(-1);
    }
  }
  #slider{
    margin:0;
    padding:0;
    list-style-type: none;
    .slideritem{
      position:relative;
      height:65vh!important;
      .ptxt{
        a{
          text-decoration:none!important;
        }
      }
      .morebutton_slider{
        border-top:1px solid @blue;
        width:200px;
        display:flex;
        justify-content: flex-end;
        > div{
          width:100px;
          background:@blue;
          color:white;
          padding:0.5rem 0.75rem;
          font-weight:bold;
          text-align:center;
        }
      }
      &.full{
        background-size:cover !important;
        display:flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
        .ptxt{
          padding:2rem 10vw;
          text-align:center;
          .titles{
            display:flex;
            flex-direction: column-reverse;
          }
          h4{
            font-weight:normal;
            margin:0;
            color:@content;
            font-size:1.6rem;
            text-transform:none;
          }
          h3{
            color:@blue;
            font-size:4rem;
            text-transform:none;
            font-weight:bold;
            letter-spacing:0.05em;
          }
          @media (max-width: 720px){
            h4{
              font-size:1.3rem;
              text-transform:none;
            }
            h3{
              font-size:3rem;
            }
          }
        }
      }
      &.container{
        background-size:contain!important;
        .ptxt{
          position:absolute;
          right:6rem;
          top:1rem;
          display:flex;
          flex-direction: column;
          align-items: flex-end;
          justify-content: flex-start;
          text-align:right;
          h4{
            font-weight:normal;
            margin:0;
            color:@content;
            font-size:1.9rem;
            text-transform:uppercase;
          }
          h3{
            color:@blue;
            font-size:2.5rem;
            text-transform:uppercase;
            margin:0;
          }
        }
        @media (max-width: 720px){
          .ptxt{
            right:0;
            h4{
              font-size:1.3rem;
            }
            h3{
              font-size:1.8rem;
            }
          }
        }
      }
      
      @media (max-width: 720px){
        flex-direction:column;
        .pimg{
          background-size:cover!important;
          width:100%;
          height:30vh;
          min-height:100px;
        }
        .ptxt{
          padding:1rem 3rem;
          width:100%;
          h4{
            font-weight:normal;
            margin:0;
          }
          h3{
            margin:0 0 1rem 0;
            font-size:1.5rem;
          }
        }
      }
    }
  }
}
.nopadding{
  padding:0!important;
}
.subHeader{
  position:relative;
  min-height:15vh;
  margin:4rem 0 2rem 0;
  padding: 2rem;
  @media (max-width: 720px){
    margin:2rem 0 1rem 0;
    padding: 1rem;
  }
  .contentWithSubtitle{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    h2{
      color:@grey_light;
      letter-spacing:0.1em;
      font-size:2.5rem;
      text-align:right;
      padding-left:3rem;
    }
    @media (max-width: 720px){
      flex-direction: column-reverse;
      justify-content: flex-start;
      align-items:flex-end;
      h2{
        font-size:2rem;
        line-height:1.3em;
        margin-top:-2.5rem;
        p{
          line-height:1.2em;
        }
      }
    }
  }
  h1{
    margin:0 0 2rem 0;
    color:@blue;
  }
  .fl{
    left:0;
    top:0;
    width:15vh;
    height:15vh;
    z-index:1;
    transform: scaleX(-1) scaleY(1)
  }
}

.subpage{
  &.referenzen{
    #rgal{
      padding:2rem 0;
    }
    .landinglist{
      padding:0 0 4rem 0;
      position:relative;
      h3{
        text-align:center;
      }
      .deco{
        width:100vw;
        height:20vh;
        background:@grey_light;
        position:absolute;
        left:0;
        top:50%;
        margin-top:-10vh;
        z-index:-1;
      }
      .img{
          padding:200% 0 0 0;
          @media (max-width: 720px){
            padding:100% 0 0 0;
          }
        }
    }
  }
  &.about{
    #rgal{
      padding:4rem 0;
    }
    strong{
      color:@blue;
    }
    .lief{
      text-align:center;
      padding:4rem 0;
    }
    h2{
      margin: 0 0 2rem 0;
      color:@blue;
    }
    .logos{
      margin:2rem 0 0 0;
      display:flex;
      justify-content: center;
      flex-wrap: wrap;
      >*{
        margin:1rem;
        padding:50px 0 0 20%;
      }
    }
  }
  &.historie{
    .hist{
      &:nth-child(even){
        background:@grey_light;
      }
      h2{
        color:@blue;
      }
      margin:4rem 0;
      .column{
        text-align:center;
        min-height:100px;
        ul{
          padding:0;
          li{
            list-style-type:none;
          }
        }
      }
      @media (max-width: 720px){
        margin:2rem 0;
        padding:2rem 0!important;
        .column{
          text-align:left;
        }
      }
    }
  }
  &.leistungen{
    .service{
      margin:13rem 0;
      @media (max-width: 720px){
        margin:5rem 0;
      }
      .column.center{
        margin:-8rem auto;
      }
      .left,.right{
        div{
          text-align: justify;
        }
        padding:2rem 4rem;
        h3{
          color:@blue;
          @media (max-width: 720px){
            text-align:center!important;
          }
        }
      }
      .column.left{
        h3{
          text-align:right;
        }
      }
    }
    .lbereiche{
      padding:4rem 2rem;
      img{
        max-width:100%;
      }
      h2{
        text-align:center;
        color:@blue;
        margin: 0 0 3rem 0;
      }
      h3{
        text-align: center;
        color:@blue;
        margin:1rem 0;
      }
      ul{
        padding:0;
        li{
          margin-left:1em;
        }
      }
      strong{
        color:@blue;
      }
    }
  }
  &.kontakt{
    #mappadr{
      position:relative;
      margin:0 0 4rem 0;
    }
    #adrblock{
      text-align:center;
      padding:2rem;
      background:rgba(255,255,255,0.9);
      position:absolute;
      left:55%;
      top:50%;
      margin-top:-200px;
      z-index:9;
      h2,strong{
        color:@blue;
      }
      @media (max-width: 720px){
position:relative;
left:auto;
top:auto;
margin:0;
      }
    }
  }
}