body {
  font-family: Arial, Helvetica, sans-serif, serif;
  color: #4c4c52;
  background: white;
}
body *:not(i) {
  font-family: Arial, Helvetica, sans-serif important;
}
h1,
h2,
h3,
h4 {
  font-family: Arial, Helvetica, sans-serif;
}
a {
  color: #000066;
}
a:hover {
  text-decoration: underline;
  color: #000066;
}
.sy-box.topslider {
  background: #e1e8ec;
}
.sy-pager {
  margin: 0!important;
  padding: 0.35rem 0 !important;
}
.sy-pager li.sy-active a {
  background: #000066 !important;
}
.sy-pager li a {
  background: transparent!important;
  border: 1px solid #000066;
}
blockquote {
  text-align: center;
  font-style: italic;
  font-size: 1.8rem;
}
.wgrey {
  background: #e1e8ec;
}
header {
  background: #e1e8ec;
  display: flex;
  justify-content: space-between;
  padding: 2rem 4rem;
}
header .logo {
  height: 50px;
  margin: -5px 0;
}
@media (max-width: 720px) {
  header .logo {
    height: 60px;
    margin: 0 0 2rem 0;
  }
}
header #headermenu {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
@media (max-width: 720px) {
  header {
    padding: 1rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  header #headermenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}
header #headermenumobil {
  display: none;
}
@media (max-width: 720px) {
  header #headermenumobil {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-height: 0px;
    overflow: hidden;
    opacity: 0;
    transition-property: all;
    transition-duration: 0.6s;
    transition-timing-function: ease-in-out;
  }
  header #headermenumobil.mobvis {
    max-height: 1000px;
    padding: 0.5rem 1rem!important;
    transition-property: all;
    transition-duration: 0.6s;
    transition-timing-function: ease-in-out;
    opacity: 1;
  }
  header #headermenumobil .headermenuitem {
    width: 50%;
    color: #000066;
    border: none;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 2rem;
    text-align: left;
  }
  header #headermenumobil .headermenuitem:nth-child(even) {
    text-align: right;
  }
}
.headermenuitem {
  flex: 0 1 auto;
  color: #4c4c52 !important;
  text-align: center;
  font-size: 1.0rem;
  line-height: 1rem;
  color: white!important;
  padding-bottom: 1rem;
  word-wrap: none;
  white-space: nowrap;
  position: relative;
}
.headermenuitem a {
  color: #4c4c52 !important;
}
.headermenuitem:last-child a span {
  border: none;
}
.headermenuitem:first-child {
  border-left: 1px solid #e1e8ec;
}
.headermenuitem.active {
  background: #e1e8ec;
}
.headermenuitem a span {
  padding: 0 0.5em;
  border-right: 1px solid #4c4c52;
}
@media (max-width: 720px) {
  .headermenuitem a span {
    border: none;
    padding: 0 1em;
  }
}
.headermenuitem .sub-menu {
  display: flex;
  justify-content: flex-end;
  height: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  line-height: 1.3em;
  z-index: 99;
  top: 1.5rem!important;
  padding-right: 0.5em;
}
.headermenuitem .sub-menu .sub-menu-item {
  margin: 0 0 1rem 2rem;
}
.headermenuitem .sub-menu .sub-menu-item > a {
  color: #4c4c52;
  font-weight: bold;
  font-size: 0.95rem;
}
.headermenuitem .sub-menu:hover {
  height: auto;
}
.headermenuitem:hover {
  background: #e1e8ec;
}
.headermenuitem:hover a {
  color: #000066;
  text-decoration: none;
}
.headermenuitem:hover .sub-menu {
  height: auto;
}
footer {
  display: block;
  background: #e1e8ec;
  padding: 4rem 0;
}
footer .logo {
  width: 100%;
}
footer .adr ul {
  padding: 0;
  margin: 2rem 0 0 0;
}
footer .adr ul li {
  list-style: none;
  color: #4c4c52;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1em;
}
footer .adr ul li img {
  margin-right: 1em;
  width: 20px;
  height: 20px;
}
footer .adr ul li a {
  color: #4c4c52;
}
footer .column.links {
  padding: 1rem 2rem!important;
}
footer .column.links h4 {
  padding: 2rem 0 0 0;
}
footer .column.links ul {
  padding: 0;
  margin: 0;
}
footer .column.links ul li {
  list-style: none;
  color: #4c4c52;
}
footer .column.links ul li a {
  color: #4c4c52;
}
.fl {
  position: absolute;
  z-index: 9998;
  background: url('/images/fliesen_hintergrund.png');
  width: 20vh;
  height: 20vh;
  background-size: contain!important;
  transform: scaleX(-1) scaleY(-1);
}
#home #proj {
  margin: 2rem 0;
  padding: 2rem 0;
}
#home #proj .img {
  padding-top: 100%;
}
#home #proj h2 {
  color: #000066;
  margin-bottom: 2rem;
  font-size: 2rem;
  padding-left: 4rem;
}
#home #leist {
  margin: 4rem 0;
  position: relative;
}
#home #leist .fl {
  top: 0;
  left: 0;
  width: 20vh;
  height: 20vh;
  transform: scaleX(-1);
}
#home #leist .bereich img {
  width: 100%;
}
#home #leist .bereich h3 {
  text-align: center;
}
#home #leist .contentl {
  padding-left: 5rem;
}
#home #leist .contentl h3 {
  color: #8f9ca3;
  font-size: 1.2rem;
  margin: 0!important;
}
#home #leist .contentl h2 {
  color: #000066;
  margin: 0 0 1rem 0!important;
  font-size: 2rem;
}
#home #leist .contentl strong {
  color: #000066;
}
#home #about {
  background: white;
  padding: 2rem 4rem 3rem;
  border-bottom: 1px solid #000066;
  position: relative;
  margin-top: -8rem;
  z-index: 9999;
}
#home #about .fl {
  right: 0;
  top: 0;
  width: 15vh;
  height: 15vh;
  transform: none;
  z-index: 1;
}
#home #about h1,
#home #about h2 {
  margin: 0;
}
#home #about h2 {
  color: #8f9ca3;
  font-size: 1.2rem;
}
#home #about h1 {
  color: #000066;
  margin-bottom: 1rem;
}
#home #about .jahre {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0 0 0;
}
#home #about .jahre .num {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #000066;
  width: 6rem;
  margin: 0rem 2rem 0 0;
  color: #000066;
}
#home #about .jahre .num .z {
  font-size: 4rem;
  line-height: 4rem;
}
#home #about .jahre .num .l {
  font-size: 1.5rem;
  font-weight: bold;
}
#home #about .jahre .txt {
  font-size: 1.3rem;
  font-weight: bold;
  color: #000066;
}
#home #slidercontainer {
  margin: 0 0 1rem;
  position: relative;
}
#home #slidercontainer .fl {
  bottom: 0;
  left: 0;
  width: 20vh;
  height: 20vh;
  transform: scaleX(-1) scaleY(-1);
}
#home #slider {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#home #slider .slideritem {
  position: relative;
  height: 65vh!important;
}
#home #slider .slideritem .ptxt a {
  text-decoration: none!important;
}
#home #slider .slideritem .morebutton_slider {
  border-top: 1px solid #000066;
  width: 200px;
  display: flex;
  justify-content: flex-end;
}
#home #slider .slideritem .morebutton_slider > div {
  width: 100px;
  background: #000066;
  color: white;
  padding: 0.5rem 0.75rem;
  font-weight: bold;
  text-align: center;
}
#home #slider .slideritem.full {
  background-size: cover !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
#home #slider .slideritem.full .ptxt {
  padding: 2rem 10vw;
  text-align: center;
}
#home #slider .slideritem.full .ptxt .titles {
  display: flex;
  flex-direction: column-reverse;
}
#home #slider .slideritem.full .ptxt h4 {
  font-weight: normal;
  margin: 0;
  color: #4c4c52;
  font-size: 1.6rem;
  text-transform: none;
}
#home #slider .slideritem.full .ptxt h3 {
  color: #000066;
  font-size: 4rem;
  text-transform: none;
  font-weight: bold;
  letter-spacing: 0.05em;
}
@media (max-width: 720px) {
  #home #slider .slideritem.full .ptxt h4 {
    font-size: 1.3rem;
    text-transform: none;
  }
  #home #slider .slideritem.full .ptxt h3 {
    font-size: 3rem;
  }
}
#home #slider .slideritem.container {
  background-size: contain!important;
}
#home #slider .slideritem.container .ptxt {
  position: absolute;
  right: 6rem;
  top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  text-align: right;
}
#home #slider .slideritem.container .ptxt h4 {
  font-weight: normal;
  margin: 0;
  color: #4c4c52;
  font-size: 1.9rem;
  text-transform: uppercase;
}
#home #slider .slideritem.container .ptxt h3 {
  color: #000066;
  font-size: 2.5rem;
  text-transform: uppercase;
  margin: 0;
}
@media (max-width: 720px) {
  #home #slider .slideritem.container .ptxt {
    right: 0;
  }
  #home #slider .slideritem.container .ptxt h4 {
    font-size: 1.3rem;
  }
  #home #slider .slideritem.container .ptxt h3 {
    font-size: 1.8rem;
  }
}
@media (max-width: 720px) {
  #home #slider .slideritem {
    flex-direction: column;
  }
  #home #slider .slideritem .pimg {
    background-size: cover!important;
    width: 100%;
    height: 30vh;
    min-height: 100px;
  }
  #home #slider .slideritem .ptxt {
    padding: 1rem 3rem;
    width: 100%;
  }
  #home #slider .slideritem .ptxt h4 {
    font-weight: normal;
    margin: 0;
  }
  #home #slider .slideritem .ptxt h3 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
  }
}
.nopadding {
  padding: 0!important;
}
.subpage.kontakt .phc {
  height: 40vh!important;
  padding: 0;
}
.subpage.kontakt footer {
  margin: 0!important;
}
.subpage.kontakt #mapaddr {
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;
}
.subpage.kontakt #mapaddr > * {
  width: 50%;
}
.subpage.kontakt #mapaddr > *:first-child {
  flex: 0 0 auto;
  padding: 0 0 40% 0;
}
.subpage.kontakt #mapaddr > *:first-child iframe {
  padding: 0;
  margin: 0;
}
.subpage.kontakt #mapaddr #klist {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.subpage.kontakt #mapaddr #klist > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 2rem;
}
.subpage.kontakt #mapaddr #klist > div img {
  margin-right: 2rem;
}
.subpage.kontakt h1 {
  color: #000066;
  font-weight: normal;
  font-size: 1.5rem;
  text-align: center;
  margin: 0;
}
.subpage.kontakt h2 {
  color: #4c4c52;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  margin: 0 0 2rem 0;
}
.subpage.kontakt .content {
  padding: 4rem  0;
  text-align: center;
}
@media (max-width: 720px) {
  .subpage.kontakt #mapaddr {
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .subpage.kontakt #mapaddr > * {
    width: 100%;
  }
  .subpage.kontakt #mapaddr > *:first-child {
    flex: 0 0 auto;
    padding: 0 0 50vh 0;
  }
  .subpage.kontakt #mapaddr > *:first-child iframe {
    padding: 0;
    margin: 0;
  }
  .subpage.kontakt #mapaddr #klist {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .subpage.kontakt #mapaddr #klist > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 2rem;
  }
  .subpage.kontakt #mapaddr #klist > div img {
    margin-right: 2rem;
  }
}
