body {
  font-family: Arial, Helvetica, sans-serif, serif;
  color: #4c4c52;
  background: white;
}
body *:not(i) {
  font-family: Arial, Helvetica, sans-serif important;
}
h1,
h2,
h3,
h4 {
  font-family: Arial, Helvetica, sans-serif;
}
a {
  color: #000066;
}
a:hover {
  text-decoration: underline;
  color: #000066;
}
.sy-box.topslider {
  background: #e1e8ec;
}
.sy-pager {
  margin: 0!important;
  padding: 0.35rem 0 !important;
}
.sy-pager li.sy-active a {
  background: #000066 !important;
}
.sy-pager li a {
  background: transparent!important;
  border: 1px solid #000066;
}
blockquote {
  text-align: center;
  font-style: italic;
  font-size: 1.8rem;
}
.wgrey {
  background: #e1e8ec;
}
header #headermenuw {
  background: white;
  border-top: 1px solid #e1e8ec;
  border-bottom: 1px solid #e1e8ec;
}
@media (max-width: 720px) {
  header .logo {
    height: 60px;
  }
}
header .logow {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
@media (max-width: 720px) {
  header .logow {
    width: 70vw;
  }
}
header #headermenumobil {
  display: none;
}
@media (max-width: 720px) {
  header #headermenumobil {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-height: 0px;
    overflow: hidden;
    opacity: 0;
    transition-property: all;
    transition-duration: 0.6s;
    transition-timing-function: ease-in-out;
  }
  header #headermenumobil.mobvis {
    max-height: 1000px;
    padding: 0.5rem 1rem!important;
    transition-property: all;
    transition-duration: 0.6s;
    transition-timing-function: ease-in-out;
    opacity: 1;
  }
  header #headermenumobil .headermenuitem {
    width: 50%;
    color: #000066;
    border: none;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 2rem;
    text-align: left;
  }
  header #headermenumobil .headermenuitem:nth-child(even) {
    text-align: right;
  }
}
header #headermenu {
  display: flex;
  justify-content: space-between;
}
header #headermenu > div {
  display: flex;
  justify-content: flex-start;
  padding: 0;
}
@media (max-width: 720px) {
  header #headermenu > div {
    display: none!important;
  }
}
.headermenuitem {
  flex: 0 1 auto;
  color: #000066;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.2rem;
  line-height: 3rem;
  margin-left: -1px;
  border-right: 1px solid #e1e8ec;
  color: white!important;
  word-wrap: none;
  white-space: nowrap;
  position: relative;
}
.headermenuitem.green {
  line-height: 1.1em;
  padding: 0 1em!important;
  font-size: 1.0rem;
  background: #000066;
  color: white;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.headermenuitem.green a {
  color: white;
}
.headermenuitem:first-child {
  border-left: 1px solid #e1e8ec;
}
.headermenuitem.active {
  background: #e1e8ec;
}
.headermenuitem a span {
  padding: 0 1em;
}
.headermenuitem .sub-menu {
  width: 100vw;
  height: 0;
  overflow: hidden;
  position: fixed;
  left: 0;
  margin-top: -1px;
  text-align: left;
  line-height: 1.3em;
  z-index: 99;
}
.headermenuitem .sub-menu .cols {
  columns: 4;
  background: #e1e8ec;
  padding: 1rem;
}
.headermenuitem .sub-menu .cols .sub-menu-item {
  margin: 0 0 1rem 0;
}
.headermenuitem .sub-menu .cols .sub-menu-item > a {
  color: #4c4c52;
  font-weight: bold;
  font-size: 0.95rem;
}
.headermenuitem .sub-menu .cols .sub-menu-item .sub-sub-menu-item a {
  color: #4c4c52;
  text-transform: none;
  font-size: 0.95rem;
  line-height: 1.3em;
}
.headermenuitem .sub-menu .cols .sub-menu-item .sub-sub-menu-item a:hover {
  color: #000066;
  text-decoration: underline;
}
.headermenuitem .sub-menu .cols .sub-menu-item .sub-sub-menu-item::before {
  content: '>>';
  color: #4c4c52;
  margin: 0 0.25rem 0 0;
  font-size: 0.85rem;
}
.headermenuitem:hover {
  background: #e1e8ec;
}
.headermenuitem:hover a {
  color: #000066;
  text-decoration: none;
}
.headermenuitem:hover .sub-menu {
  height: auto;
}
footer {
  display: block;
  background: #000066;
}
footer.ui.container {
  margin: 1rem 0 0 0!important;
}
footer .footermenu {
  display: flex!important;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 0;
}
footer .footermenu a {
  color: white!important;
  font-size: 0.8rem;
  padding: 0 0.8rem 0 0;
  margin: 0 0.8rem 0 0;
  border-right: 1px solid white;
  line-height: 1rem;
}
footer .footermenu a:last-child {
  padding: 0;
  margin: 0;
  border: none;
}
#home #slidercontainer {
  margin: 0 0 1rem;
}
#home #slider {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#home #slider .slideritem {
  position: relative;
  height: 65vh!important;
}
#home #slider .slideritem .ptxt a {
  text-decoration: none!important;
}
#home #slider .slideritem .morebutton_slider {
  border-top: 1px solid #000066;
  width: 200px;
  display: flex;
  justify-content: flex-end;
}
#home #slider .slideritem .morebutton_slider > div {
  width: 100px;
  background: #000066;
  color: white;
  padding: 0.5rem 0.75rem;
  font-weight: bold;
  text-align: center;
}
#home #slider .slideritem.full {
  background-size: cover !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
#home #slider .slideritem.full .ptxt {
  padding: 2rem 10vw;
  text-align: center;
}
#home #slider .slideritem.full .ptxt .titles {
  display: flex;
  flex-direction: column-reverse;
}
#home #slider .slideritem.full .ptxt h4 {
  font-weight: normal;
  margin: 0;
  color: #4c4c52;
  font-size: 1.6rem;
  text-transform: none;
}
#home #slider .slideritem.full .ptxt h3 {
  color: #000066;
  font-size: 4rem;
  text-transform: none;
  font-weight: bold;
  letter-spacing: 0.05em;
}
@media (max-width: 720px) {
  #home #slider .slideritem.full .ptxt h4 {
    font-size: 1.3rem;
    text-transform: none;
  }
  #home #slider .slideritem.full .ptxt h3 {
    font-size: 3rem;
  }
}
#home #slider .slideritem.container {
  background-size: contain!important;
}
#home #slider .slideritem.container .ptxt {
  position: absolute;
  right: 6rem;
  top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  text-align: right;
}
#home #slider .slideritem.container .ptxt h4 {
  font-weight: normal;
  margin: 0;
  color: #4c4c52;
  font-size: 1.9rem;
  text-transform: uppercase;
}
#home #slider .slideritem.container .ptxt h3 {
  color: #000066;
  font-size: 2.5rem;
  text-transform: uppercase;
  margin: 0;
}
@media (max-width: 720px) {
  #home #slider .slideritem.container .ptxt {
    right: 0;
  }
  #home #slider .slideritem.container .ptxt h4 {
    font-size: 1.3rem;
  }
  #home #slider .slideritem.container .ptxt h3 {
    font-size: 1.8rem;
  }
}
@media (max-width: 720px) {
  #home #slider .slideritem {
    flex-direction: column;
  }
  #home #slider .slideritem .pimg {
    background-size: cover!important;
    width: 100%;
    height: 30vh;
    min-height: 100px;
  }
  #home #slider .slideritem .ptxt {
    padding: 1rem 3rem;
    width: 100%;
  }
  #home #slider .slideritem .ptxt h4 {
    font-weight: normal;
    margin: 0;
  }
  #home #slider .slideritem .ptxt h3 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
  }
}
.nopadding {
  padding: 0!important;
}
.subpage.kontakt .phc {
  height: 40vh!important;
  padding: 0;
}
.subpage.kontakt footer {
  margin: 0!important;
}
.subpage.kontakt #mapaddr {
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;
}
.subpage.kontakt #mapaddr > * {
  width: 50%;
}
.subpage.kontakt #mapaddr > *:first-child {
  flex: 0 0 auto;
  padding: 0 0 40% 0;
}
.subpage.kontakt #mapaddr > *:first-child iframe {
  padding: 0;
  margin: 0;
}
.subpage.kontakt #mapaddr #klist {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.subpage.kontakt #mapaddr #klist > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 2rem;
}
.subpage.kontakt #mapaddr #klist > div img {
  margin-right: 2rem;
}
.subpage.kontakt h1 {
  color: #000066;
  font-weight: normal;
  font-size: 1.5rem;
  text-align: center;
  margin: 0;
}
.subpage.kontakt h2 {
  color: #4c4c52;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  margin: 0 0 2rem 0;
}
.subpage.kontakt .content {
  padding: 4rem  0;
  text-align: center;
}
@media (max-width: 720px) {
  .subpage.kontakt #mapaddr {
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .subpage.kontakt #mapaddr > * {
    width: 100%;
  }
  .subpage.kontakt #mapaddr > *:first-child {
    flex: 0 0 auto;
    padding: 0 0 50vh 0;
  }
  .subpage.kontakt #mapaddr > *:first-child iframe {
    padding: 0;
    margin: 0;
  }
  .subpage.kontakt #mapaddr #klist {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .subpage.kontakt #mapaddr #klist > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 2rem;
  }
  .subpage.kontakt #mapaddr #klist > div img {
    margin-right: 2rem;
  }
}
