{{ define "main" }} {{ $currentPage := . }}
<div class="subpage downloads">
  <div class="grey nopadding">
    {{with .Params.header}}
    <div class="phc ui container" style="background:url({{partial "imgUrl" (dict "img" .bild "params" "c_scale,w_1200,q_100,f_auto" )}}) right bottom no-repeat; background-size:contain">
        <h3>{{.titel}}</h3>
        <h4>{{.untertitel}}</h4>
    </div>
    {{end}}
  </div>
    <div class="ui container content">
        <h1>{{.Params.title}}</h1>
        <h2>{{.Params.untertitel}}</h2>
      {{.Params.content|safeHTML}}
      <div class="downloadlist sections">
        {{range .Params.bereiche}}
          <div class="sec closed">
              <div class="sech">
                <i class="ui icon plus"></i><i class="ui icon minus"></i>{{.titel}}
              </div>
              <div class="secc">
                {{range .dateien}}
                  <a href="{{.datei}}" target="_blank">
                      <i class="icon file pdf outline"></i>
                    {{.name}}
                  </a>
                {{end}}
              </div>
            </div>
        {{end}}
          </div>
  </div>
</div>
{{ end }}